.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  margin-left: 40px;
}

.App-intro {
  font-size: large;
}

.joke {
  list-style: none;
  text-align: center;
  line-height: 2;
}

.joke hr {
  width: 75px;
}


button {
  text-align: center;
}

.SignIn-header {
  text-align: center;
  margin-left: 5%;
  font-size: 2.0em;
  font-weight: 800;
  padding-top: 15px;
}
.SignUp-header {
  text-align: center;
  margin-left: 5%;
  font-size: 2.0em;
  font-weight: 800;
  padding-top: 15px;
}
.jokes-header {
  text-align: center;
  margin-left: 5%;
  font-size: 2.0em;
  font-weight: 800;
  padding-top: 15px;
}
.Root-page-text {
  margin-left: 7%;
  font-size: 2.0em;
  font-weight: 800;
  padding-top: 15px;
}
.Header-links {
  font-size: 1.2em;
}
.Login-Link {
  margin-right: 5%;
  margin-left: 6%;
}

.ui.form {
  text-align: center;
  margin-left: 5%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
